More details about This restaurant!
<h1>{{model.name}}</h1> Category: {{model.category}}
<br> Founded on : {{model.dateOpened}}
<br> Website: <a href='#'>{{model.website}}</a>
<br> Phone no: {{model.phone}} Located in {{model.locationName}}, here something about them.
<br>
<b>{{model.shortDescription}}</b>
<br> {{model.description}}
<br>
<h2>Reviews</h2>
<ul>
  {{#each model.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
{{new-review restaurant=model saveNewReview="saveNewReview"}}
{{outlet}}
